body {
  font-family: 'Arial', sans-serif;
  background-color: #888888;
  color: #fff;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.input-section {
  margin-bottom: 20px;
  display: flex; /* Aggiungi display flex per centrare il contenuto */
  flex-direction: column; /* Imposta la direzione di flessione come colonna */
  align-items: center; /* Centra gli elementi verticalmente */
  text-align: center; /* Centra il testo orizzontalmente */
}

label {
  display: block;
  margin-bottom: 10px;
  color: #FFFF00;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 20px;
  border: none;
  background-color: #333;
  color: #fff;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ff5722;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f44336;
}

#output {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

#output p {
  font-size: 60px;
  margin: 0;
  color: white;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff5722;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  color: #fff;
}

/* Css per menu ipertestuale */
nav {
  text-align: center;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Stile per l'immagine */
.center-image {
  max-width: 100%; /* Imposta la larghezza massima all'immagine */
  max-height: auto; /* Imposta l'altezza massima all'immagine */
}

.image-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%; /* Imposta la larghezza massima dell'immagine al 100% del contenitore */
  max-height: auto; /* Imposta l'altezza massima dell'immagine al 100% del contenitore */
  object-fit: cover; /* Assicura che l'immagine venga ridimensionata per adattarsi al contenitore mantenendo le proporzioni */
}

/* Stile per il background */
body {
  background-image: url('../img/logo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff; /* Valore RGBA per trasparenza */
}

/* Stile per la tabella delle frequenze FPV */
#frequency-table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
  background-color: grey; /* Cambia il colore di sfondo in grigio */
}

#frequency-table caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  color: red;
  background-color: black;
}

#frequency-table thead {
  background-color: yellow;
}

#frequency-table th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #000000; /* Cambia il colore del testo in nero */
}

#frequency-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
  color: #000000; /* Cambia il colore del testo in nero */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#output p {
  font-size: 60px;
  margin: 0;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

/* Stili specifici per smartphone */
 
@media (max-width: 480px) {
  body {
    background-position: center center; /* Centra l'immagine di sfondo */
  }

  h1 {
    font-size: 24px; /* Riduci la dimensione del titolo */
    margin-bottom: 10px;
  }

  input[type="text"] {
    font-size: 14px; /* Riduci la dimensione del testo di input */
  }

  button {
    font-size: 14px; /* Riduci la dimensione del testo del pulsante */
  }

  /* Regole di stile specifiche per la tabella delle frequenze FPV su smartphone */
  #frequency-table {
    font-size: 14px; /* Riduci la dimensione del testo della tabella */
  }

  #frequency-table caption {
    font-size: 16px; /* Aumenta la dimensione del testo della didascalia */
  }

  #frequency-table th,
  #frequency-table td {
    padding: 8px; /* Riduci il padding delle celle */
  }
}
